.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__list-item {
  width: calc((100% - 30px) / 2);
}
.clients__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  border: 1px solid $icon-gray;
  border-radius: 4px;
  transition: border-color 250ms $cubic;
  &:hover,
  &:focus {
    border-color: $blue;
  }
}
.clients__icon {
  display: block;
  fill: $icon-gray;
  transition: fill $time $cubic;

  .clients__icon-container:hover > &,
  .clients__icon-container:focus > & {
    fill: $blue;
  }
}

@media screen and (min-width: 600px) {
  .clients__list-item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 950px) {
  .clients__list-item {
    width: calc((100% - 150px) / 6);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__list-item {
    width: 170px;
  }
}
