.features-item {
  display: block;
  width: min(450px, 100%);
  margin: 0 auto;
}

.features-item:not(:last-child) {
  margin-bottom: 30px;
}

.features-item__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $dark;
}
.features-item__description {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.features-item__icon {
  display: block;
}
.features-item__icon-container {
  display: flex;
  height: 120px;
  background: $bg-light;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.features-item__body {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .features-item {
    margin: 0;
    display: block;
    // width: min(450px, 47.6%);
    width: 354px;
    margin: 0 auto;
  }
  .features-item__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 90px) / 4);
  }
}
