.features-item {
  display: block;
  width: min(450px, 100%);
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark;
  }
  &__description {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }
  &__icon {
    display: block;
  }
  &__icon-container {
    display: flex;
    height: 120px;
    background: $bg-light;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  &__body {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .features-item {
    margin: 0;
    display: block;
    width: min(450px, 47.6%);
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 90px) / 4);
  }
}
