.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    padding-bottom: 94px;
    display: block;
  }
  .services__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark;
  }
  .services__item {
    width: 370px;
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .services__img {
    width: 100%;
  }
  .services__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    color: $white;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .services__list {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
