$dark: #212121;
$blue: #2196f3;
$dark-blue: #188ce8;
$contacts-footer: rgba(255, 255, 255, 0.6);
$default-gray: #757575;
$bg: #2f303a;
$bg-light: #f5f4fa;
$white: white;
$border-header: #ececec;
$border: #eeeeee;
$icon-gray: #afb1b8;
$footer-icon-bg: rgba(255, 255, 255, 0.1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$black: black;
$time: 250ms;
